<!--
										|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
										|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
										||||||||||CONVERSOR DE DIVISAS Y CRIPTOMONEDAS                       ||||||||||
										||||||||||WEBAPP CREADA POR ANGEL ORLANDO PERNIA RONDON              ||||||||||
										||||||||||COPYRIGHT 2019 - 2020 ZERO+PLUS   njrzr.github.io/zero-plus||||||||||
										|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
										|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
-->
<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<title>Conversor | ZERO+PLUS</title>
		<link rel="stylesheet" type="text/css" href="css/conversor.css"/>
		<link rel="icon" type="image/png" href="images/favicon.png"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;700&display=swap" rel="stylesheet"> 
	</head>

	<body>
		<div id="main-container" v-cloak>
			<div id="grid-warn" v-if="error">
				<p>No fue posible obtener el valor de las monedas, revise su conexión a internet o inténtalo mas tarde.</p>
			</div>

			<div id="grid-load" v-else-if="loading">
				<p>CARGANDO<span id="blnk1">.</span><span id="blnk2">.</span><span id="blnk3">.</span></p>
			</div>

			<div id="container-data" v-else>
				<div class="grid div-1">
					<p id="title">Conversor de divisas y criptomonedas.</p>
				</div>
				<div class="grid div-2">
					<p class="coin-name">Bolívares por Dólar <span class="super" @click="showNotes(0)"></span></p>
					<p class="notes">El valor del Dólar en Bolívares es obtenido a través de <a class="api" target="_blank" href="https://dolartoday.com/" rel="noreferrer">dolartoday.com</a>, este valor se actualiza cada 10 minutos.</p>
					<p class="coin-value">{{ coinFormat('es-VE', 'VES', 2, ves_usd) }}</p>
				</div>
				<div class="grid div-3">
					<p class="coin-name">Bolívares por Euro <span class="super" @click="showNotes(1)"></span></p>
					<p class="notes">El valor del Euro en Bolívares es obtenido a través de <a class="api" target="_blank" href="https://dolartoday.com/" rel="noreferrer">dolartoday.com</a>, este valor se actualiza cada 10 minutos.</p>
					<p class="coin-value">{{ coinFormat('es-VE', 'VES', 2, ves_eur) }}</p>
				</div>
				<div class="grid div-4">
					<p class="coin-name">Pesos por Dólar <span class="super" @click="showNotes(2)"></span></p>
					<p class="notes">El valor del Dólar en Pesos es obtenido a través de <a class="api" target="_blank" href="https://openexchangerates.org" rel="noreferrer">openexchangerates.org</a>, este valor se actualiza cada hora.</p>
					<p class="coin-value">{{ coinFormat('es-CO', 'COP', 2, era_cop) }}</p>
				</div>
				<div class="grid div-5">
					<p class="coin-name">Dólares por Bitcoin <span class="super" @click="showNotes(3)"></span></p>
					<p class="notes">El valor del Bitcoin en Dólares es obtenido a través de <a class="api" target="_blank" href="https://cryptocompare.com/" rel="noreferrer">cryptocompare.com</a>, este valor se actualiza cada 10 segundos.</p>
					<p class="coin-value">{{ coinFormat('en-US', 'USD', 2, usd_btc) }}</p>
				</div>
				<div class="grid div-6">
					<p class="coin-name">Bolívares por Peso</p>
					<p class="coin-value">{{ coinFormat('es-VE', 'VES', 2, (ves_usd / era_cop)) }}</p>
				</div>
				<div class="grid div-7">
					<p class="coin-name">Pesos por Bolivar</p>
					<p class="coin-value">{{ coinFormat('es-CO', 'COP', 4, (era_cop / ves_usd)) }}</p>
				</div>
				<div class="grid div-8">
					<p class="coin-name">Bolívares por Bitcoin</p>
					<p class="coin-value">{{ coinFormat('es-VE', 'VES', 2, (ves_usd * usd_btc)) }}</p>
				</div>
				<div class="grid div-9">
					<p class="coin-name">Pesos por Bitcoin</p>
					<p class="coin-value">{{ coinFormat('es-CO', 'COP', 2, (era_cop * usd_btc)) }}</p>
				</div>
				<div class="grid div-10">
					<select id="coin" v-model="selected">
						<option selected disabled value="">Elige moneda</option>
						<option>Bolívar</option>
						<option>Peso</option>
						<option>Dólar</option>
						<option>Bitcoin</option>
					</select>
					<input id="value" type="number" inputmode="numeric" pattern="[0-9]*" :step="number" placeholder="Ingrese monto a calcular" title="Solo ingresar números" autocomplete="off" required v-model="input"/>
				</div>
				
				<div class="grid-select" v-if="selected == 'Bolívar'">
					<div class="grid div-11">
						<p class="input">{{ coinFormat('es-VE', 'VES', 2, input) }} equivalen a</p>
					</div>
					<div class="grid div-12">
						<p class="coin-name">Conversión a Pesos</p>
						<p class="coin-value">{{ coinFormat('es-CO', 'COP', 2, (input * (era_cop / ves_usd))) }}</p>
					</div>
					<div class="grid div-13">
						<p class="coin-name">Conversión a Dólares</p>
						<p class="coin-value">{{ coinFormat('en-US', 'USD', 2, (input / ves_usd)) }}</p>
					</div>
					<div class="grid div-14">
						<p class="coin-name">Conversión a Euros</p>
						<p class="coin-value">{{ coinFormat('en-EU', 'EUR', 2, (input / ves_eur)) }}</p>
					</div>
					<div class="grid div-15">
						<p class="coin-name">Conversión a Bitcoin</p>
						<p class="coin-value">{{ coinFormat('en-US', 'BTC', 8, (input / (ves_usd * usd_btc))) }}</p>
					</div>
				</div>

				<div class="grid-select" v-else-if="selected == 'Peso'">
					<div class="grid div-16">
						<p class="input">{{ coinFormat('es-CO', 'COP', 2, input) }} equivalen a</p>
					</div>
					<div class="grid div-17">
						<p class="coin-name">Conversión a Bolívares</p>
						<p class="coin-value">{{ coinFormat('es-VE', 'VES', 2, (input * (ves_usd / era_cop))) }}</p>
					</div>
					<div class="grid div-18">
						<p class="coin-name">Conversión a Dólares</p>
						<p class="coin-value">{{ coinFormat('en-US', 'USD', 2, (input / era_cop)) }}</p>
					</div>
					<div class="grid div-19">
						<p class="coin-name">Conversión a Euros</p>
						<p class="coin-value">{{ coinFormat('en-EU', 'EUR', 2, (input / (era_cop / era_eur))) }}</p>
					</div>
					<div class="grid div-20">
						<p class="coin-name">Conversión a Bitcoin</p>
						<p class="coin-value">{{ coinFormat('en-US', 'BTC', 8, (input / (era_cop * usd_btc))) }}</p>
					</div>
				</div>

				<div class="grid-select" v-if="selected == 'Dólar'">
					<div class="grid div-21">
						<p class="input">{{ coinFormat('en-US', 'USD', 2, input) }} equivalen a</p>
					</div>
					<div class="grid div-22">
						<p class="coin-name">Conversión a Bolívares</p>
						<p class="coin-value">{{ coinFormat('es-VE', 'VES', 2, (input * ves_usd)) }}</p>
					</div>
					<div class="grid div-23">
						<p class="coin-name">Conversión a Pesos</p>
						<p class="coin-value">{{ coinFormat('es-CO', 'COP', 2, (input * era_cop)) }}</p>
					</div>
					<div class="grid div-24">
						<p class="coin-name">Conversión a Euros</p>
						<p class="coin-value">{{ coinFormat('en-EU', 'EUR', 2, (input * era_eur)) }}</p>
					</div>
					<div class="grid div-25">
						<p class="coin-name">Conversión a Bitcoin</p>
						<p class="coin-value">{{ coinFormat('en-US', 'BTC', 8, (input / usd_btc)) }}</p>
					</div>
				</div>

				<div class="grid-select" v-if="selected == 'Bitcoin'">
					<div class="grid div-26">
						<p class="input">{{ coinFormat('en-US', 'BTC', 8, input) }} equivalen a</p>
					</div>
					<div class="grid div-27">
						<p class="coin-name">Conversión a Bolívares</p>
						<p class="coin-value">{{ coinFormat('es-VE', 'VES', 2, (input * (ves_usd * usd_btc))) }}</p>
					</div>
					<div class="grid div-28">
						<p class="coin-name">Conversión a Pesos</p>
						<p class="coin-value">{{ coinFormat('es-CO', 'COP', 2, (input * (era_cop * usd_btc))) }}</p>
					</div>
					<div class="grid div-29">
						<p class="coin-name">Conversión a Dólares</p>
						<p class="coin-value">{{ coinFormat('en-US', 'USD', 2, (input * usd_btc)) }}</p>
					</div>
					<div class="grid div-30">
						<p class="coin-name">Conversión a Euros</p>
						<p class="coin-value">{{ coinFormat('en-EU', 'EUR', 2, (input * eur_btc)) }}</p>
					</div>
				</div>
			</div>

			<div id="footer">
				<p class="foot">WebApp creada por:</p>
				<a id="creator-link" href="https://njrzr.github.io/zero-plus/" target="_blank" rel="noreferrer"><img id="logos" src="images/logo.png" title="ZERO+PLUS" alt="Logo de creador"/></a>
				<p class="foot">&copy; ZERO+PLUS 2019 - 2020</p>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios@0.21.0/dist/axios.min.js"></script>
		<script src="javascript/vue-script.js"></script>
	</body>

</html>